.Navbar {
    background-image: url("./assets/winter.png");
    display: flex;
    background-size: 100% 200%;
    
}
.button{
    color: rgb(255, 255, 255);
    background-color: rgb(252, 0, 0);
    border-radius: 20%;
    margin-bottom: 10px;
    padding: 8px;     
}
.links{
display: flex;
border-radius: 20%;
margin-bottom: 5px;
padding: 10px;  
}
.linkholder{
display: flex;
}